/* importa as fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Formata toda a pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color:#000000;
    color: #ffff;
}

header{
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
/* Animação de interação com o mouse*/
.logo:hover{
    transform: scale(1.1);
}

nav{
    background-color: #161616;
    border-radius: 10px;
    padding: 0.3rem;
}

nav a {
    font-size: 1.8rem;
    color: #ffffff;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.5s ease;
    border-bottom:3px solid transparent;
    align-items: center;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}
/* Aplica responsividade no cabeçalho de navegação */
@media(max-width:995px){
    nav{
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b ;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid #000000;
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
        
    }
    nav a:hover,
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-width: 100vh;
    padding: 5rem 9% 5rem;
}
.logo{
    background-color: #161616;
    border-radius: 10px;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #000000;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;

}
.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius:50% ;
    cursor: pointer;
    transition: 0.02s linear;
}


.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.03s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: #000000;
    transform: scale(1.3)translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #000000;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.03);
    background-color: #b74b4b;
    color: #000000;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}


.typing-text span::before{
    content: "Desenvolvedor";
    color: #b74b4b;
    animation: words 20s infinite;
}
/* Adiciona animação de digitação */
.typing-text span::after{
    content: "";
    background-color: #000000;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #000000;
    right: -8;
    animation: cursor 0.6s infinite;
}

.technology-content h1{
    color: #b74b4b;
    font-size: 5rem;
}
.technology-content h3{
    font-size: 2rem;
}
.technology-content p{
    font-size: 1.6rem;
}
.technology-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.03s ease;
    color: #b74b4b;
}

.technology-icons a:hover{
    color: #000000;
    transform: scale(1.3)translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.technology-typing-text{
    content: "";
    background-color: #000000;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #000000;
    right: -8;
    animation: cursor 0.6s infinite;
}

.technology-typing-text span{
    position: relative;
}

.technology .typing-text-technology span {
    color: #b74b4b;
    animation: cursor 0.5s steps(1) infinite, techWords 6s steps(1) infinite;
}

/* Especificando a animação das palavras */
.technology .typing-text-technology span::before {
    content: "em:";
    animation: techWords 6s steps(1) infinite;
}
.technology .typing-text-technology span::after{
    content: "";
    background-color: #000000;
    position: absolute;
    width: calc(100% + 8px);
    height: 5%;
    border-left: 3px solid #000000;
    right: -8;
    animation: cursor 0.6s infinite;
}

/* Adiciona animação de troca de palavras*/
@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    
    }
}
@keyframes words{
    0%, 33%{
        content: "Java";
    }
    34%, 67%{
        content: "WEB";
    }
    68%, 100%{
        content: "Fullstack";
    }
}

@keyframes techWords {
    0%, 33% {
        content: "Java";
    }
    34%, 67% {
        content: "Spring boot";
    }
    68%, 100% {
        content: "JavaScript";
    }
}

@media (max-width:995px) {
    .home{
        gap: 4rem;
    }
    .home .homeContent h3{
        font-size: 2.5rem;
    }
    .home .homeContent h1{
        font-size: 5rem;
    }
    .homeImg Img{
        width: 70vw;
        margin-top: 4rem;
    }
}

